.dev-ios-dark-blue
{color:#fff;background-color:#5856d6}
.dev-ios-deep-blue
{color:#fff;background-color:#007AFF}
.dev-ios-blue
{color:#fff;background-color:#34AADC}
.dev-ios-light-blue
{color:#fff;background-color:#5AC8FA}
.dev-ios-green
{color:#000;background-color:#4cd964}
.dev-ios-pink
{color:#fff;background-color:#ff2d55}
.dev-ios-red
{color:#fff;background-color:#ff3b30}
.dev-ios-orange
{color:#fff;background-color:#ff9500}
.dev-ios-yellow
{color:#000;background-color:#ffcc00}
.dev-ios-grey
{color:#fff;background-color:#8e8e93}
.dev-ios-light-grey
{color:#000;background-color:#ceced2}
.dev-ios-background
{color:#000;background-color:#efeff4}